<!DOCTYPE html>
<html>
<head>
	<title>layout</title>
	<style type="text/css">

	.wrap {
			width: 1000px;
			height: 300px;
			line-height: 300px;
			border: 2px solid #ccc;
	}
	.span {
			background: red;
	}


	.wrap-parent {
			width: 200px;
			height: 300px;
			border: 2px solid #ccc;
			display: table-cell;
			vertical-align: middle;
	}
	.non-height {
			background: green;
	}


	.parent {
			width: 200px;
			height: 300px;
			border: 2px solid #ccc;

			display: flex;
			align-items: center;
	}
	.known-height {
			width: 100%;
			background: rgb(139, 137, 0);
	}
	</style>
</head>
<body>
	
<div class="wrap line-height">
	<span class="span">子元素是行内元素，高度是由其内容撑开的,只要设置父元素的height和line-height相等就可以垂直居中</span>
</div>


<div class="wrap-parent">
	<div class="non-height">子元素是块级元素但子元素高度没有设定，在这种情况下，实际上是不知道子元素的高度的，
		无法通过计算得到padding或margin来调整,可以通过给父元素设定display:table-cell;vertical-align:middle;来解决</div>
</div>

<div class="parent">
	<div class="known-height">
		父级 display: flex; <br>
		align-items: center;
	</div>
</div>
</body>
</html>